* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  :root {
    --blue: rgb(6, 26, 59);
    --light-color: rgb(194, 189, 211);
    --purple: rgb(66, 40, 107);
  }
  body {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: var(--light-color);
  }

  header {
    background-color: var(--blue);
    color: var(--light-color);
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border-bottom: 5px solid var(--purple);

  }
  header h2 {
    color: var(--light-color);
    padding-left: 20px;
  }
nav ul {
    list-style-type: none;
    float: right;
}
nav li {
    display: inline-block;
    justify-content: space-between;
    color: var(--light-color);
}
nav ul li a {
    display: flex;
    color: var(--light-color);
    justify-content:space-between;
    padding: 10px;
}
.top-photo {
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url(../assets/cropped-space-photo.jpg);
    height: 250px;
    width: 100%;
    object-fit: cover;
    float: inline-end;
    background-color: var(--blue);
    align-items: flex-end;
    justify-content: flex-end;
}
.tagline {
    color: white;
    margin: 30px;
    justify-content: center;
    font-weight: lighter;
}
.section-header {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: var(--blue);
    color: var(--light-color);
    padding: 10px;
    border-bottom: 5px solid var(--purple);
   
}
p {
    font-size: 95%;
    margin: 15px;
    text-align: center;
    color: var(--blue);

}
#head-shot{
    float: left;
    height: 200px;
    margin: 15px;
}
.project-photos {
    display: flex;
    flex-wrap: wrap;
    clear: both;
    justify-content: center;
    margin: 20px;
    
}
figure {
    clear: both;
    float: right;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 500px;
}
a:hover {
    opacity: 50%;
}

figcaption {
    font-size: 75%;
    color: var(--blue);
    float: inline-end;
}
.projects {
    display: flex;
    clear: both;
    flex-wrap: wrap;
    margin: auto;
}
#first-project {
    display: flex;
    width: 800px;

}
.contact-info {
    display: flex;
    justify-content: center;
}
.contact-info li {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
    color: var(--blue);
    justify-content: space-between;
    font-size: 110%;
}
.footer {
    display: flex;
    justify-content: center;
    color: var(--blue);
    margin: auto;
    font-size: 85%;

}
@media screen {
    body {
        display: flex;
        flex-wrap: wrap;
    }
    
}
